footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 30px;
}

.infos-footer {
  line-height: 35px;
  padding: 0 25px;
}

.infos-footer h3 {
  font-size: 1.1rem;
  margin: 20px 0 0;

}

.infos-footer ul {
  padding: 0;
  margin: 0;
}