header {
  display: flex;
  justify-content: space-between;
}

header img {
  display: flex;
  height: 1.3rem;
  margin-top: 13px;

}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 69px;

}

/* Mise en place d'un hover pour le changement de couleur et rajout de la barre bleu dans le hover */
nav a:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  padding-top: 13px;
  transition: 0.1s;
}

/* Suppression du before */